<section class="panel">
    <header class="panel__header">Items</header>
    <div class="create-item">
        <button ng-click="addItem()" class="create-item__button">Add new</button>
        <div class="create-item__input-wrapper">
            <input ng-model="newItem" ng-keypress="keypressHandler($event)" class="create-item__input"
                   placeholder="Type name here...">
        </div>
    </div>
    <ul ng-if="items.length" class="items-list">
        <li ng-repeat="(index, item) in items"
            ng-click="selectItem(item)"
            ng-class="{'items-list__item--active':item === selectedItem}"
            class="items-list__item">
            <div class="items-list__header">{{item.title}}</div>
            <div class="items-list__counter">{{item.comments.length}}</div>
            <button ng-click="deleteItem(index)" class="items-list__button">Delete</button>
        </li>
    </ul>
    <div ng-if="!items.length" class="panel-message">
        NO ITEMS
    </div>
</section>

<section class="panel">
    <header class="panel__header">Comments #2</header>
    <ul class="comments-list">
        <li class="comments-list__item">
            <div class="comments-list__avatar"></div>
            <div class="comments-list__text">111111111111111111111111111111111111111111111111111111111111111111</div>
        </li>
    </ul>
    <div class="add-comment">
        <div class="add-comment__avatar"></div>
        <textarea class="add-comment__textarea"></textarea>
    </div>
</section>

